@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=Inter:wght@100..900&family=Judson:ital,wght@0,400;0,700;1,400&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root{
    --primary-color: #338ee6;
    --dark-grey:#ebebeb;
    --darker-grey:#d9d9d9;
    --black:#2c2c2c;
}

html{
    font-family:"Inter";
}

/* Utility Classes ---------------------------------------------------------------------------------------------------------------------- */
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column{
    flex-direction:column;
}

.btn{
    border-radius:.5rem;
}

p {
    /* line-height: 1.5rem; */
}

/* Banner Section ---------------------------------------------------------------------------------------------------------------------- */

.banner{
    justify-content: flex-start;
    gap: 2.5rem;
    padding: 2rem;
    min-height: 30rem;
    background-image: url(./Assets/Images/attic.jpg);
    background-size:cover;
}

nav{
    width: 100%;
    margin-bottom: 2rem;
    /* position:fixed; */
}


.heading-aligned {
    padding-left: 39px; /* Match Bootstrap's form control padding */
}

@media (min-width: 768px) {
    .heading-aligned {
        padding-left: 95px; /* Match padding for larger screens */
    }
}


.navbar{
    background-color: black;
    padding: 2rem;
    top:0;
    position:fixed;
}

.nav{
    display:none !important;
}

#main_logo{
    max-height: 3rem;
    cursor: pointer;
}

.title_header{
    font-family: "Judson";
    color:white;
    font-size: 4rem;
    text-align: center;
    margin:0rem;
    font-weight:100;
    text-shadow: 1px 1px 1px black;
}

.elevate{
    color:var(--primary-color);
    font-family: "Bebas Neue";
}

.container_set{
    max-width: 80rem;
}

.nav_links{
    gap: 2rem;
}

.nav_link{
    font-family: "Inter";
    /* font-size:large; */
    color: white;
    text-decoration: none;
    font-weight: 300;
    cursor: pointer;
}

.contact_us{
    color:white;
    padding: .6rem .6rem;
    font-size: large;
    border:none;
}

.nav.past-main {
    background-color:#fff;
    color:#444;
}

/* Main Content ------------------------------------------------------------------------------------------------------------------ */
main{
}
/* Our Services ---------------------------------------------------------------------------------------------------------------------- */


.our_services{
    padding: 4.25rem;
    width: 100%;
    gap: 2.5rem;
    background-color: var(--dark-grey);
}

.section_header{
    text-align: center;
    font-size:xx-large;
    font-weight:500;
    margin:0rem;
}

.service_cards{
    gap: 2.5rem;
}

.service_card_row{
    gap: 2.5rem;
    justify-content: space-between;
    width:100%
}

.service_card{
    padding: 1rem;
    border-radius: .3rem;
    min-height: 8rem;
    min-width: 14rem;
    justify-content: center;
}

.service_title{
    font-weight: 600;
}


/* Insulation Info Cards ---------------------------------------------------------------------------------------------------------------------- */
.insulation_info{
    padding: 4.25rem 0;
    gap:5rem;
}

.info_card{
    gap:3rem;
}

.info_img{
    flex:1;
    background-color: grey;
}

.all_info{
    flex:1;
    align-items: flex-start;
    gap:2rem;
}

/* Form Section ---------------------------------------------------------------------------------------------------------------------- */
.form_section{
    width: 100%;
    background-color: var(--darker-grey);
    padding: 4.25rem;
}

.form_card{
    margin:0 auto;
    width: 80%;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: .5rem;
    background-color: white;
    
}

.input_section{
   gap:.25rem; 
   width: 100%;
}

.input_section > label{
    align-self: flex-start;
}

.input_section > input{
    padding: .5rem;
    border-radius: .25rem;
    border:.1rem lightgrey solid;
    width: 100%;
}

#message_id{
    border:.1rem lightgrey solid;
    padding: .5rem;
    border-radius: .25rem;
    width: 100%;
}

.submit{
    padding: .75rem;
    color:white;
    background-color:var(--primary-color);
    width: 50%;
}

.service{
    gap:1rem;
    width:50%;
    min-height:  100%;
    padding: 4rem;
}

/* .service_row{
    border:black 1rem solid;
    min-width: fit-content;
} */

.service_img{
    max-width:50%;
    /* aspect-ratio: 16 / 9; */
}

.our_service_title{
    color:black;
    font-size:3rem;
    text-align: center;
}